*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

.hero{
    min-height: 100vh;
    background: url(hero.jpeg) center/cover no-repeat;
    place-items: center;
    display: grid;
}

/* MIDDLE MODAL */
.modal{
    background-color: antiquewhite;
    width: 30em;
    padding: 4em;
    place-items: center;
    display: grid;
    border-radius: 5px;
    /* position: absolute; */
    /* z-index: 10; */
}
.modal h1{
    margin-bottom: 1em;
}
.modal button{
    margin-top: 1em;
    padding: .5em;
    background-color: aliceblue;
    border: 1px solid rgb(177, 219, 255);
    border-radius: 2px;
    cursor: pointer;
}
.modal button:hover{
    background-color:rgb(177, 219, 255) ;
    color: white;
    border: aliceblue;
}

.modal-overlay{
    background: rgb(209, 166, 101);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    z-index: -10;
    /* visibility: hidden; */
    }
.modal-container{
    background-color: white;
    width: 30em;
    padding: 2em;
    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 99;
    height: 40vh;
}
.show-modal{
    visibility: visible;
    z-index: 10;
}